body {
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
a {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
a:hover {
    text-decoration: underline;
}
a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}
.left {
    position: absolute;
    left: 0px;
    width: 500px;
    height: 30px;
}
.left a {
    text-align: left;
    padding-left: 15px;
    float: left;
}
.right {
    position: absolute;
    right: 0px;
    width: 400px;
    height: 30px;
}
.right a {
    text-align: right;
    padding-right: 15px;
    float: right;
}
.top {
    top: 23px;
}
#loginin {
    margin-top: -5px;
    margin-right: 10px;
    padding: 5px 12px;
    color: white;
    background-image: linear-gradient(#4386fb, #4285f4);
    opacity: 1;
    border: 1px solid #4285f4;
    border-radius: 2px;
}
#logo {
    height: 233px;
    margin-top: 89px;
}
#logo img {
    display: block;
    height: 92px;
    width: 272px;
    padding-top: 109px;
    margin-left: auto;
    margin-right: auto;
    data-aft:"1";
}
.panel {
    background:#fff;
        background-color:rgb(255, 255, 255);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-attachment: scroll;
        background-image: none;
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
        border-top-color:rgb(223, 225, 229);
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color:rgb(223, 225, 229);
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color:rgb(223, 225, 229);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color:rgb(223, 225, 229);
        border-left-style: solid;
        border-left-width: 1px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        box-shadow: none;
    border-radius: 24px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    width: 482px;
}
.pan1 {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 16px;
    padding-left: 14px;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.loupe {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.loupe1{
    margin-top: 3px;
    color: #9AA0A6;
    height: 20px;
    width: 20px;}
.loupe2 {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}
.flex {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}
.elem1 {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
}
.span {
    color: #9AA0A6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
}
.svg {
    display: block;
    height: 100%;
    width: 100%;
}
.elem2 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.in1 {
    font: 16px arial,sans-serif;
    line-height: normal;
    line-height: 34px;
    height: 34px !important;
}
.in {
    border: none;
    background: transparent;
    margin: 0 ;
    padding: 0;
    flex: 100%;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
}
.center {
    width: 268px;
    height: 50px;
    margin: 0 auto;
    padding-top: 18px;
}
.center a {
    display: inline-block;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    width: 89.5px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    opacity: 0.75;
}
.center a:hover {
    border: 1px solid #c6c6c6;
    opacity: 1;
    text-decoration: none;
}
.footer {
    position: absolute;
    bottom: 0px;
    height: 81px;
    border-top: 1px solid #dfe1e5;
    background: #f2f2f2;
    width: 100%;
    line-height: 40px;
}
#bottom-left {
    padding-left: 15px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}
#bottom-left:hover {
    text-decoration: none;
    cursor: context-menu;
}
.foot {
    position: absolute;
    background: #f2f2f2;
    bottom: 0px;
    height: 40px;
    width: 100%;
    border-top: 1px solid #dfe1e5;
    z-index: 2;
    line-height: 40px;
}